// Here you can add other styles
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #343333;
}

.object-renderer {
  height: calc(100vh - 230px);
}

.btn-next {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.h1 {
  font-size: 60px;
  font-weight: 600;
}

.text {
  font-size: 30px;
  font-weight: 600;
}

.right-pane {
  border-left: 2px solid #343434;
  margin-left: -2px;
}

.bg-grey {
  background-color: #f7f7f7;
}

.progress-bar {
  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-block {
    position: relative;
    height: 30px;
    flex-grow: 1;
    margin-left: 5%;
  }

  &-bg {
    background-color: #262626;
    width: 100%;
    height: 100%;
    transform: skewX(-30deg);
  }

  &-active {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transform: skewX(-30deg);
    background: linear-gradient(90deg, #0aafd2 0%, #0dc204 100%);
  }

  &-label {
    font-size: 30px;
    font-weight: 600;
    min-width: 100px;
    text-align: right;
  }
}

.radial-wrapper {
  padding: 32px;

  .CircularProgressbar .CircularProgressbar-path {
    stroke: url(#gradient_progress);
  }
}

@media all and (max-width: 767px) {
  .right-pane {
    border-width: 0;
    margin-left: 0;
  }

  .match-block {
    flex-direction: column;
  }
}
