// Here you can add other styles
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #343333;
  background-color: #323232;
}

.app-body {
  margin-top: 0 !important;
}

.renderer-container {
  position: relative;
}

.object-renderer {
  height: calc(100vh - 14px);
  overflow: hidden;
  z-index: 2;
}

.brand-gradient {
  height: 14px;
  width: 100%;
  background: #0292b0;
  background: -moz-linear-gradient(left, #0292b0 0%, #73b32e 100%);
  background: -webkit-linear-gradient(left, #0292b0 0%,#73b32e 100%);
  background: linear-gradient(to right, #0292b0 0%,#73b32e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0292b0', endColorstr='#73b32e',GradientType=1 );
}

.logo {
  position: absolute;
  right: 30px;
  width: 200px;
  top: 60px;
}

.overlay {
  border-bottom: calc(100vh) solid rgba(0, 0, 0, 0.17);
  border-left: calc(38vw) solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: calc(42vw);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.btn-next {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.h1 {
  font-size: 60px;
  font-weight: 600;
}

.text {
  font-size: 30px;
  font-weight: 600;
}

.bg-grey {
  background-color: #f7f7f7;
}
